
// OPEN SANS

@font-face {
	font-family: 'OpenSans';
	font-style: normal;
	font-weight: 300;
	src: url('../assets/fonts/opensans/OpenSans-Light.ttf');
}

@font-face {
	font-family: 'OpenSans';
	font-style: normal;
	font-weight: 400;
	src: url('../assets/fonts/opensans/OpenSans-Regular.ttf');
}

@font-face {
	font-family: 'OpenSans';
	font-style: normal;
	font-weight: 600;
	src: url('../assets/fonts/opensans/OpenSans-SemiBold.ttf');
}

@font-face {
	font-family: 'OpenSans';
	font-style: normal;
	font-weight: 700;
	src: url('../assets/fonts/opensans/OpenSans-Bold.ttf');
}

@font-face {
	font-family: 'OpenSans';
	font-style: normal;
	font-weight: 900;
	src: url('../assets/fonts/opensans/OpenSans-ExtraBold.ttf');
}